---
title: blog
---

{% include categories.html %}

<h1>Latest Posts</h1>


<div class="container">

    {% assign post = site.posts.first %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                {% assign author = site.authors | where: 'short_name', post.author | first %}
                {% if author %}
                <a href="{{ author.url }}" class="mr-2">{{ author.name }}</a>
                {% endif %}
                <small class="text-muted">{{ post.date | date_to_string }}</small>
            </div>
            <h1><a href="{{ post.url }}" class="article-title-first">{{ post.title }}</a></h1>
            <p class="article-content">{{ post.excerpt | strip_html | strip_newlines | truncatewords: 20 }}</p>
        </div>
    </article>


    {% for post in site.posts offset:1 %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                {% assign author = site.authors | where: 'short_name', post.author | first %}
                {% if author %}
                <a href="{{ author.url }}" class="mr-2">{{ author.name }}</a>
                {% endif %}
                <small class="text-muted">{{ post.date | date_to_string }}</small>
            </div>
            <h2><a href="{{ post.url }}" class="article-title">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.excerpt | strip_html | strip_newlines | truncatewords: 20 }}</p>
        </div>
    </article>
    {% endfor %}
</div>
